<div class="bracket-view-container" #bracketViewContainer>
  <ng-container *ngIf="bracketSide === 'winners'">
    <match-card
      class="match-container"
      *ngFor="let match of matches; trackBy trackMatch"
      [ngStyle]="match.getStyleObject()"
      (click)="showMatchDetailsEmitter.emit(match)"
      [match]="match"
    ></match-card>
  </ng-container>
  
  <ng-container *ngIf="bracketSide === 'losers'">
    <match-card
      class="match-container"
      *ngFor="let match of losersMatches; trackBy trackMatch"
      [ngStyle]="match.getStyleObject()"
      (click)="showMatchDetailsEmitter.emit(match)"
      [match]="match"
    ></match-card>
  </ng-container>

  <mat-button-toggle-group *ngIf="tournament.structure === 'double-elim'" name="bracketSide" (change)="changeBracketSide($event.value)" aria-label="Bracket Side">
    <mat-button-toggle checked="true" value="winners">W</mat-button-toggle>
    <mat-button-toggle value="losers">L</mat-button-toggle>
  </mat-button-toggle-group>
</div>
