/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

a {
  cursor: pointer;
}
html {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
  padding: 12px;
}

.mat-tab-body-content {
  // height: 100%;
  // width: 100%;
  // position: absolute;
  // overflow: hidden;
  // display: flex;
  // flex-direction: column;
}

.error-snackbar {
  background-color: red;
  color: white;
}

.success-snackbar {
  background-color: green;
  color: white;
}
