/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

* {
  box-sizing: border-box;
}


@media only screen and (min-width: 600px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}


a {
  cursor: pointer;
}
html {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
  padding: 12px;
}

.mat-tab-body-content {
  // height: 100%;
  // width: 100%;
  // position: absolute;
  // overflow: hidden;
  // display: flex;
  // flex-direction: column;
}

app-home > div > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.error-snackbar {
  background-color: red;
  color: white;
}

.success-snackbar {
  background-color: green;
  color: white;
}

.mat-divider {
  bottom: auto !important;
}
