@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$showdown-green: (
  50: #e9f5eb,
  100: #cbe6cd,
  200: #a2efa5,
  300: #89c88e,
  400: #71bc76,
  500: #5bb05f,
  600: #52a156,
  700: #418b49,
  800: #3e7e41,
  900: #2c5f2e,
  A100: #e9f5eb,
  A200: #89c88e,
  A400: #52a156,
  A700: #2c5f2e,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$showdown-blue: (
  50: #ebebf6,
  100: #cdcde8,
  200: #a79fef,
  300: #8d8cc8,
  400: #7671bc,
  500: #6257b0,
  600: #5b4fa6,
  700: #47468b,
  800: #4b3a8d,
  900: #3e2878,
  A100: #ebebf6,
  A200: #acacd9,
  A400: #5b4fa6,
  A700: #3e2878,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $white-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the default theme (same as the example above).
$app-primary: mat-palette($showdown-green, 400, 200, 700);
$app-accent: mat-palette($showdown-blue, 500, 200, 700);
$app-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($dark-theme);

$light-theme: mat-light-theme($app-primary, $app-accent);

.basic-light-theme {
  @include angular-material-theme($light-theme);
}
