<div class="top-container mat-app-background">
  <button
    mat-raised-button
    class="create-button"
    isRoundButton="true"
    color="secondary"
    (click)="createTournament()"
  >
    Create Tournament
  </button>
</div>

<div class="content-container">
  <ng-container *ngIf="allTournaments">
    <h1>Tournaments</h1>
    <tournament-card
      *ngFor="let tournament of allTournaments; trackBy: trackByFn"
      [tournament]="tournament"
      [user]="loggedInUser"
      (selectTournament)="viewTournament(tournament)"
      (delete)="deleteTournament(tournament._id)"
    ></tournament-card>
  </ng-container>

  <ng-container *ngIf="allTournaments">
    <h1>Users</h1>
    <button mat-button
      *ngFor="let user of allUsers; trackBy: trackByFn"
      (click)="viewTournament(tournament)"
      routerLink="/profile/{{user.username}}"
    >{{user.username}}</button>
  </ng-container>

  <mat-spinner *ngIf="!allTournaments"></mat-spinner>
</div>
