<!-- <div class="top-container mat-app-background">
  <button
    mat-raised-button
    class="create-button"
    isRoundButton="true"
    color="accent"
    (click)="createTournament()"
  >
    NEW TOURNAMENT
  </button>
</div> -->
<button
  mat-raised-button
  class="create-button mat-elevation-z8"
  color="accent"
  (click)="createTournament()"
>
<div>
  NEW TOURNAMENT
</div>
</button>

<div class="content-container">
  <ng-container *ngIf="allTournaments">
    <h3 style="padding-left: 24px;">Tournaments</h3>
    <tournament-list [tournaments]="allTournaments" [loggedInUser]="loggedInUser"></tournament-list>
  </ng-container>
<!-- 
  <ng-container *ngIf="allTournaments">
    <h1>Users</h1>
    <button mat-button
      *ngFor="let user of allUsers; trackBy: trackByFn"
      (click)="viewTournament(tournament)"
      routerLink="/profile/{{user.username}}"
    >{{user.username}}</button>
  </ng-container> -->

  <mat-spinner *ngIf="!allTournaments"></mat-spinner>
</div>
