.top-container {
  width: 100%;
  position: fixed;
  z-index: 2;
  // background-color: white;
  padding: 12px;
  height: 64 px;
  // border: 1px solid;
  box-shadow: 0px 2px 5px #000000;
}

.create-button {
  // width: 100%;
  // display: block;

  margin: 0 auto;
  display: block;
  margin-top: 12px;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 10px;
}

.content-container {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 64px;
}
