<form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper>
    <!-- Step 1 -->
    <mat-step class="height-100">
      <mat-form-field appearance="outline">
        <mat-label>Tournament Name</mat-label>
        <input type="text" matInput required formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Number of Contestants</mat-label>
        <input
          matInput
          type="number"
          required
          formControlName="contestantCount"
          (change)="countChange($event)"
        />
      </mat-form-field>

      <div class="step-buttons">
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <!-- Step 2 -->
    <mat-step>
      <contestant-list
        interactionMode="edit"
        [contestantCount]="tournamentForm.value.contestantCount"
        [contestants]="contestants.value"
        (newContestantEmitter)="addContestant($event)"
      ></contestant-list>

      <div class="step-buttons">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button type="submit" mat-raised-button color="primary">Create</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
