<ng-container *ngIf="this.tournament">
  <div id="tournament-name">{{ this.tournament?.name }}</div>
  <button
    mat-raised-button
    color="primary"
    (click)="editTournament(tournament.linkCode)"
  >
    Edit Tournament
  </button>

  <!-- <bracket-view></bracket-view> -->

  <mat-tab-group>
    <mat-tab label="Updates">
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ this.tournament.createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ this.tournament.createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ this.tournament.createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Matches">
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ this.tournament.createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ this.tournament.createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ this.tournament.createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Contestants">
      <div>
        {{ this.tournament?.contestants?.length || 0 }} /
        {{ this.tournament?.contestantCount || 0 }} Contestants Registered
      </div>
      <button
        *ngIf="
          this.tournament?.contestants?.length <
          this.tournament?.contestantCount
        "
        mat-raised-button
        color="primary"
        (click)="joinClicked()"
      >
        Join
      </button>
      <contestant-list
        interactionMode="view"
        [contestants]="this.tournament?.contestants || []"
      ></contestant-list>
    </mat-tab>
  </mat-tab-group>
</ng-container>
