:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.admin-buttons {
  position: absolute;
  top: 15px;
  right: 200px;

  button {
    margin-right: 5px;
  }
}

.action-buttons {
  margin: auto;
  position: relative;
  // bottom: 0;
  // left: auto;
  // right: auto;
  // left: 50%;
  // -webkit-transform: translateX(-50%);
  // transform: translateX(-50%);
}

#tournament-name {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  height: 7%;
  padding-top: 10px;

  p {
    margin: auto;
    width: fit-content;
  }
}

.bracket-view {
  height: 200px !important;
}

.mat-tab-group {
  flex-grow: 1;
}

mat-card {
  margin: 10px;
}

contestant-list {
  // max-height: 50%;
}

.update-container {
  height: 200px;
  flex-grow: 1;
  padding: 12px;
}

.join-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
}

.tournament-view {
  height: 200px;
  padding: 0.5rem;
  flex-grow: 1;
  width: 100%;
}
