:host(app-home-tournament) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.admin-buttons {
  position: absolute;
  top: 5px;
  right: 5px;

  button {
    margin-right: 5px;
  }
}

.action-buttons {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#tournament-name {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  height: 7%;

  p {
    margin: auto;
    width: fit-content;
  }
}

.bracket-view {
  height: 200px !important;
}

.mat-tab-group {
  flex-grow: 1;
}

mat-card {
  margin: 10px;
}

contestant-list {
  // max-height: 50%;
}
