<ng-container *ngIf="this.tournament">
  <div id="tournament-name">
    <p>
      {{ this.tournament?.name }}
      <ng-container
        *ngIf="
          !tournament.hasStarted &&
          (!tournament.createdBy ||
            tournament.createdBy._id === loggedInUser?._id)
        "
      >
        <ng-container *ngIf="isCheckingEditAccess">
          <mat-spinner color="accent" diameter="30"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!isCheckingEditAccess">
          <button mat-icon-button color="primary" (click)="editTournament()">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="editTournament(true)"
          >
            <mat-icon>play_arrow</mat-icon>
          </button>
        </ng-container>
      </ng-container>
    </p>
  </div>

  <ng-container>
    <ng-container label="Bracket" *ngIf="viewBeingShown === 'bracket'">
      <bracket-view
        class="tournament-view"
        [tournament]="this.tournament"
        (showMatchDetailsEmitter)="showMatchDetails($event)"
      ></bracket-view>
    </ng-container>

    <ng-container label="Contestants" *ngIf="viewBeingShown === 'contestants'">
      <div>
        {{ this.tournament?.contestants?.length || 0 }} /
        {{ this.tournament?.contestantCount || 0 }} Contestants Registered
      </div>
      <contestant-list
        class="tournament-view"
        interactionMode="view"
        [contestants]="this.tournament?.contestants || []"
      ></contestant-list>
    </ng-container>

    <ng-container label="Matches" *ngIf="viewBeingShown === 'matches'">
      <match-list
        class="tournament-view"
        [matches]="this.appStore.getWinnersMatchContainers() | async"
        (showMatchDetailsEmitter)="showMatchDetails($event)"
      ></match-list>
    </ng-container>

    <ng-container label="Updates" *ngIf="viewBeingShown === 'updates'">
      <div class="tournament-view">
        <sd-update-list [updates]="tournament.updates">
          
        </sd-update-list>
      </div>
    </ng-container>
  </ng-container>

  <mat-button-toggle-group class="action-buttons" #group="matButtonToggleGroup">
    <mat-button-toggle
      color="primary"
      value="left"
      (click)="showView('bracket')"
      aria-label="Bracket View"
    >
      <mat-icon>schema</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="center"
      (click)="showView('contestants')"
      aria-label="Contestants"
    >
      <mat-icon>people</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="right"
      (click)="showView('matches')"
      aria-label="Matches"
    >
      <mat-icon>format_list_numbered</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="justify"
      (click)="showView('updates')"
      aria-label="Updates"
    >
      <mat-icon>subscriptions</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</ng-container>

<button
  *ngIf="
    tournament?.allowRegistration &&
    this.tournament?.contestants?.length < this.tournament?.contestantCount &&
    !this.checkIfContestant()
  "
  mat-fab
  color="primary"
  (click)="joinClicked()"
  class="join-button"
>
  <mat-icon style="font-weight: bold" svgIcon="swords"></mat-icon>
</button>
