<!-- <di class="container" (click)="onSelect(tournament)">
  <di>
    {{ tournament.name }}
  </di>
  {{ tournament.createdOn | date }}
</div> -->

<mat-card class="container" (click)="onSelect(tournament)">
  <mat-card-title>
    {{ tournament.name }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ tournament.createdOn | date }}
  </mat-card-subtitle>
  
  <!-- <div class="actions"> -->
  <div class="actions" *ngIf="canDelete">
    <button mat-icon-button color="warn" (click)="onDelete($event)">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>

  <mat-card-footer style="padding: 8px;" (click)="onUserClick($event, tournament.createdBy)">
    <div  style="width: 50%;">
      <sd-contestant-banner matRipple [contestant]="tournament.createdBy"></sd-contestant-banner>
    </div>
  </mat-card-footer>
</mat-card>
