<!-- <di class="container" (click)="onSelect(tournament)">
  <di>
    {{ tournament.name }}
  </di>
  {{ tournament.createdOn | date }}
</div> -->

<mat-card class="container" (click)="onSelect(tournament)">
  <mat-card-title>
    {{ tournament.name }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ tournament.createdOn | date }}
  </mat-card-subtitle>
  <!-- <mat-card-footer>
  </mat-card-footer> -->
  <mat-card-actions>
  <!-- <mat-card-actions *ngIf="user && tournament?.createdBy?._id === user?._id"> -->
    <button mat-stroked-button color="warn" (click)="onDelete($event)">DELETE</button>
  </mat-card-actions>
</mat-card>
