.top {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
}

.top__high {
  flex-grow: 1;
  text-align: center;
}

.top__low {
  flex-grow: 1;
  text-align: center;
}
