.outer-container {
  overflow: hidden;
  height: 100%;
}

.list-container {
  height: 100%;

  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(102, 102, 102);
  border-radius: 10px;

  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  overflow: auto;
}

mat-list-item.request-list-item {
  height: fit-content;
  cursor: pointer;

  > div {
    padding: 0;
  }
}

.request {
  margin-top: 16px;
  width: 100%;
  border-style: solid;
  border-width: 2.5px;
  border-color: #000;
  border-radius: 25px;
  height: 100%;
  overflow: hidden;
  padding: 12px;
}

.request__footer {
  display: contents;
  font-size: 0.8rem;
  color: #ddd;
  font-style: italic;
}
