:host {
  height: 200px;
  padding: 12px;
  flex-grow: 1;
}

.outer-container {
  overflow: hidden;
  height: 100%;
}

.list-container {
  height: 100%;

  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(102, 102, 102);
  border-radius: 10px;

  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  overflow: auto;
}

mat-list-item.match-list-item {
  height: fit-content;

  > div {
    padding: 0;
  }
}

.match {
  padding-top: 16px;
  width: 100%;
}

.options-container {
}
