<div
  class="outer-container"
  [matBadge]="match.matchNumber + 1"
  matBadgePosition="before"
  matBadgeColor="accent"
  matBadgeSize="large"
>
  <mat-card>
    <div class="high">
      <div class="high__left">
        <sd-contestant-banner [contestant]="match?.highSeed"></sd-contestant-banner>
        <p *ngIf="!match?.highSeed" class="placeholder-text">
          {{ getPlaceholderText('high') }}
        </p>
      </div>
      <div class="high__right" [ngStyle]="{ 'background-color': match.winnerSeed === 'HIGHSEED' ? 'rgba(255,233,0, 0.4)' : 'rgba(0, 0, 0, 0.4)' }">
        <div class="my-center">
          {{ highSetCount }}
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="low">
      <div class="low__left">
        <sd-contestant-banner [contestant]="match?.lowSeed"></sd-contestant-banner>
        <p *ngIf="!match?.lowSeed" class="placeholder-text">
          {{ getPlaceholderText('low') }}
        </p>
      </div>
      <div class="low__right" [ngStyle]="{ 'background-color': match.winnerSeed === 'LOWSEED' ? 'rgba(255,233,0, 0.4)' : 'rgba(0, 0, 0, 0.4)' }">
        <div class="my-center">
          {{ lowSetCount }}
        </div>
      </div>
    </div>
  </mat-card>
</div>
