mat-card {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(102, 102, 102);
  border-radius: 5px;
  // display: flex;
  // flex-direction: column;
}

.high {
  // flex-grow: 1;
  display: flex;
}

.low {
  // flex-grow: 1;
  display: flex;
}
