<mat-card
  [matBadge]="match.matchNumber + 1"
  matBadgePosition="before"
  matBadgeColor="accent"
  class="container"
>
  <div class="high">
    <div class="high__left">
      <img
        *ngIf="match.highSeed?.name"
        ngxGravatar
        [email]="match.highSeed?.name"
        size="30"
      />
      {{ match.highSeed?.name || '---' }}
    </div>
    <div class="high__right">
      {{ highSetCount }}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="low">
    <div class="low__left">
      <img
      *ngIf="match.lowSeed?.name"
        ngxGravatar
        [email]="match.lowSeed?.name || '---'"
        size="30"
      />
      {{ match.lowSeed?.name || '---' }}
    </div>
    <div class="low__right">
      {{ lowSetCount }}
    </div>
  </div>
</mat-card>
