mat-card {
  border-style: solid;
  border-width: 2.5px;
  border-color: #000;
  border-radius: 25px;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.high {
  height: 50%;
  position: relative;
  display: flex;
  padding: 12px;
}

.high__left {
  margin: 0;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70%;
}

.high__right {
  margin: 0;
  top: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.low {
  height: 50%;
  position: relative;
  display: flex;
  padding: 12px;
}

.low__left {
  flex-grow: 1;
  margin: 0;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70%;
}
.low__right {
  flex-grow: 1;
  margin: 0;
  top: 50%;
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.my-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: max-content;
}

.my-center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.placeholder-text {
  font-style: italic;
  opacity: 0.3;
}
