<h1 mat-dialog-title>Sign up</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input cdkFocusInitial matInput [(ngModel)]="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input cdkFocusInitial matInput [(ngModel)]="username" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()" color="warn">CANCEL</button>
  <button mat-raised-button color="accent"  (click)="processSignup()">
    Sign me up!
  </button>
  <button mat-raised-button (click)="goToLogin()">
    Log in
  </button>
</div>