.outer-container {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.list-container {
  padding: 12px;
  height: max-content;

  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(102, 102, 102);
  border-radius: 10px;
  
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  overflow: scroll;
}

.options-container {
  
}

.contestant-container {
  // height: 50px;
  margin-bottom: 12px;

  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(102, 102, 102);
  border-radius: 5px;
}

.contestant-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
