<div class="top">
  <div class="top__high">
    <img ngxGravatar [email]="data.match.highSeed?.name || '---'" size="45" />
    <br />
    {{ data.match.highSeed ? data.match.highSeed.name : 'TBD' }}
  </div>
  <div class="top__low">
    <img ngxGravatar [email]="data.match.lowSeed?.name || '---'" size="45" />
    <br />
    {{ data.match.lowSeed ? data.match.lowSeed.name : 'TBD' }}
  </div>
</div>
<div>
  <mat-list *ngIf="this.data.allowEdit && this.data.hasStarted && data.match.lowSeed && data.match.highSeed">
    <mat-list-item *ngFor="let set of match.sets">
      <mat-radio-group [(ngModel)]="set.potentialOutcome">
        <mat-radio-button *ngIf="!set.outcome" value="high"></mat-radio-button>
        <mat-icon *ngIf="set.outcome == 'high'" color="primary">check_circle</mat-icon>
        {{ set.orderNumber }}
        <mat-radio-button *ngIf="!set.outcome" value="low"></mat-radio-button>
        <mat-icon *ngIf="set.outcome == 'low'" color="primary">check_circle</mat-icon>
      </mat-radio-group>
    </mat-list-item>
  </mat-list>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="data.match">Close</button>
  <button mat-raised-button color="accent" *ngIf="this.data.allowEdit && this.data.hasStarted && data.match.lowSeed && data.match.highSeed" (click)="save()">Save</button>
</mat-dialog-actions>