<ng-container *ngIf="this.tournament | async">
  <div id="tournament-name">{{ (this.tournament | async)?.name }}</div>

  <!-- <bracket-view></bracket-view> -->

  <mat-tab-group>
    <mat-tab label="Updates">
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ (this.tournament | async).createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ (this.tournament | async).createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          Tournament created on
          {{ (this.tournament | async).createdOn | date: 'long' }}
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Contestants">
      <div>
        {{ ((this.tournament | async)?.contestants?.length || 0) + ((this.tournament | async)?.temporaryContestants?.length || 0) }} /
        {{ (this.tournament | async)?.contestantCount }} Contestants Registered
      </div>
      <button
        *ngIf="
          ((this.tournament | async)?.contestants?.length) + ((this.tournament | async)?.temporaryContestants?.length || 0) <
          (this.tournament | async)?.contestantCount
        "
        mat-raised-button
        color="primary"
        (click)="joinClicked()"
      >
        Join
      </button>
      <contestant-list
        interactionMode="view"
        [contestants]="(this.tournament | async)?.temporaryContestants"
      ></contestant-list>
    </mat-tab>
  </mat-tab-group>
</ng-container>
