<div color="primary">
  <button [routerLink]="'/'" mat-fab color="primary">
    <mat-icon>home</mat-icon>
  </button>

  <span>
    <button
      *ngIf="!(appStore.loggedInUser | async)"
      class="login-button"
      color="primary"
      isRoundButton="true"
      mat-raised-button
      (click)="login()"
    >
      Log In
      <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="appStore.loggedInUser | async" mat-button (click)="logout()">
      Logout
    </button>
  </span>
</div>

<router-outlet></router-outlet>
