<button class="home-button" [routerLink]="'/'" mat-fab color="primary">
  <mat-icon>home</mat-icon>
</button>
<span>
  <button
    *ngIf="!user?._id"
    class="login-button"
    color="primary"
    isRoundButton="true"
    mat-raised-button
    (click)="login()"
  >
    Log In
    <mat-icon>login</mat-icon>
  </button>
  <!-- *ngIf="user?._id" -->
  <button class="logout-button" mat-button (click)="logout()">
    Logout
  </button>

  {{ user.username }}
</span>

<router-outlet></router-outlet>
