<form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper
    (animationDone)="this.stepperIsInTransition = false"
    (selectionChange)="this.stepperIsInTransition = true"
  >
    <!-- Step 1 -->
    <mat-step class="height-100">
      <mat-form-field appearance="outline">
        <mat-label>Tournament Name</mat-label>
        <input type="text" matInput required formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Number of Contestants</mat-label>
        <input
          matInput
          type="number"
          required
          formControlName="contestantCount"
          (change)="contestantCountChange($event)"
        />
      </mat-form-field>

      <div class="step-buttons fade-in" *ngIf="!this.stepperIsInTransition">
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <!-- Step 2 -->
    <mat-step>
      <contestant-list
        interactionMode="edit"
        [contestantCount]="tournamentForm.value.contestantCount"
        [contestants]="contestants.value"
        (newContestantEmitter)="addContestant($event)"
        (removeContestantEmitter)="removeContestant($event)"
        (rearrangedContestantsEmitter)="rearrangeContestants($event)"
      ></contestant-list>

      <mat-form-field appearance="outline">
        <mat-label>Admin Access Code</mat-label>
        <input
          matInput
          type="text"
          required
          formControlName="editAccessCode"
          (change)="contestantCountChange($event)"
        />
      </mat-form-field>

      <div class="step-buttons fade-in" *ngIf="!this.stepperIsInTransition">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <!-- Step 3 -->
    <mat-step class="height-100">
      <mat-form-field appearance="outline">
        <mat-label>Sets per Match</mat-label>
        <input
          matInput
          type="number"
          required
          formControlName="setCount"
        />
      </mat-form-field>

      <div class="step-buttons fade-in" *ngIf="!this.stepperIsInTransition">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button type="submit" mat-raised-button color="primary">
          <ng-container *ngIf="!editMode">Create</ng-container>
          <ng-container *ngIf="editMode">Save</ng-container>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
