<div class="content">
  <img *ngIf="user?._id" ngxGravatar [email]="user?.username" size="200" />
  <p class="name__text">
    {{ user?.username }}
  </p>

  <!-- <ng-container *ngIf="user?._id === loggedInUser?._id">
    <h1>ICX Wallet Address</h1>
    {{ loggedInUser.iconPublicAddress }}
    <br />
    {{ icxAmount }}
  </ng-container>
  

  <ng-container *ngIf="user?._id !== loggedInUser?._id">
    <br />
    <button mat-raised-button (click)="showShowdownForm = true">
      <mat-icon>local_play</mat-icon>
      Showdown
    </button>

    <sd-new-showdown *ngIf="showShowdownForm" (challengeData)="createShowdown($event)"></sd-new-showdown>
  </ng-container>

  <br />
  <br />
  <h1>Showdowns</h1>
  <ng-container *ngFor="let challenge of user.challenges"> </ng-container> -->

  <div class="tournaments-container">
    <tournament-list [tournaments]="user?.tournaments"></tournament-list>
  </div>
</div>
