<div *ngIf="user">

  <p class="name__text">
    {{ user.username }}
  </p>
  <br />

  <!-- <ng-container *ngIf="user?._id === loggedInUser?._id">
    <h1>ICX Wallet Address</h1>
    {{ loggedInUser.iconPublicAddress }}
    <br />
    {{ icxAmount }}
  </ng-container>
  

  <ng-container *ngIf="user?._id !== loggedInUser?._id">
    <br />
    <button mat-raised-button (click)="showShowdownForm = true">
      <mat-icon>local_play</mat-icon>
      Showdown
    </button>

    <sd-new-showdown *ngIf="showShowdownForm" (challengeData)="createShowdown($event)"></sd-new-showdown>
  </ng-container>

  <br />
  <br />
  <h1>Showdowns</h1>
  <ng-container *ngFor="let challenge of user.challenges"> </ng-container> -->

  <h3>Tournaments</h3>
  <ng-container *ngFor="let tournament of user.tournaments">
    <button mat-raised-button (click)="openTournament(tournament.linkCode)">
      {{ tournament.name }}
    </button>
  </ng-container>
</div>
